* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
} */
/* header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
li {
    list-style: none;
}
.btn-primary {
    background: #017143;
    border-radius: 50px;
    color: #FFFFFF;
}
.btn-primary:hover {
    background: #017143;
    border-radius: 50px;
    color: #FFFFFF;
}
.text-secondary {
    color: #333333 !important;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.text-primary {
    color: #017143 !important;
    font-size: 1.2em;
    font-weight: 900;
}
.thumb {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover {
    transform: translateY(-15px);
}
.thumb li img {
    max-width: 60px;
}
.sci {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li {
    list-style: none;
}
.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}